<ion-content padding class="bgImg">
    
    <div class="conEdit">
       <h2>Health Pay</h2>
       <p><b>Welcome,</b> Sign in to continue</p>
    </div>
 
     <ion-card>
         <ion-card-content>
             <ion-list>              
 
                 <ion-item>
                   <ion-icon color="wise" ios="ios-person" md="md-person" item-left></ion-icon>
                   <ion-label floating>Username</ion-label>
                   <ion-input type="text" value=""></ion-input>
                 </ion-item>
               
                 <ion-item>
                   <ion-icon color="wise" ios="ios-lock" md="md-lock" item-left></ion-icon>
                   <ion-label floating>Password</ion-label>
                   <ion-input [type]="passwordType"></ion-input>
                   <ion-icon name="eye" [color]="passwordShown === true ? 'dark' : 'gray'"  item-end (click)="togglePasword()"></ion-icon>
                 </ion-item>
               </ion-list>
 
         </ion-card-content>
 
         <button class="signin-btn" ion-button block color="blue" (click)="invoicePg()">
             <span>Sign In </span> 
         </button>
 
       </ion-card>
 </ion-content>