<ion-content #navbar padding class="bgImg">
    
    <div class="conEdit">
       <h2>Health Pay</h2>
        <p>To Proceed, Kindly input Invoice number</p>
    </div>
    
    <span style="margin-left: 28px;">Enter Invoice number</span>
  
    <ion-item>
        <ion-label stacked>Invoice number</ion-label>
        <ion-input type="text" [(ngModel)]="posts"> </ion-input>
    </ion-item>
  
    <button class="signin-btn" ion-button block color="blue" (click)="confirmPg()">
        <span>Submit </span> 
    </button>
</ion-content>
  