page-invoice {
    .bgImg {
        background-image: url('../assets/imgs/bgImg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .conEdit h2 {
        color: #2fa442;
        text-align: center;
        padding-top: 40%;
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 25px;
    }
    .spEdit{
        margin-left: 27px;
        line-height: 65px;
    }
    
    .conEdit p {
        text-align: left;
        font-size: 15px;
        padding-bottom: 14px;
        margin-left: 25px;
    }
    .button-block-md {
        margin-left: 31px;
        margin-right: 15px;
    }
    .button-md {
        border-radius: 2px;
        overflow: hidden;
        width: 65%;
        height: 4.2rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background-color: #2fa442;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0 1.1em;
        margin: auto;
        margin-bottom: 38px;
        margin-top: 23px;
        
    }
    .input-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-orient: inherit;
        -webkit-box-direction: inherit;
        -webkit-flex-direction: inherit;
        -ms-flex-direction: inherit;
        flex-direction: inherit;
        -webkit-box-align: inherit;
        -webkit-align-items: inherit;
        -ms-flex-align: inherit;
        align-items: inherit;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        text-overflow: ellipsis;
        border-bottom: none;
    }
    .list-md .item-input:last-child {
        border-bottom: none;
    }
    .item-md {
        padding-left: 16px;
        padding-top: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
       
    }
    .item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
        margin-left: 0;
        margin-top: 9px;
        margin-bottom: -19px;
        color: #2fa442;
    }
    .button-inner {
        text-transform: capitalize
    }
    .item-md {
        padding-left: 16px;
        padding-top: 4px;
        padding-right: 0;
        position: relative;
        font-size: 1rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #ffffff38;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        border: 1px solid #e6d8d8;
        width: 86%;
        margin: auto;
        margin-top: 24px;
    }
    .input-wrappe {
        border-bottom: none
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none;
    }
    .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
        margin-left: 0;
        margin-top: 8px;
        margin-bottom: 8px;
        width: calc(100% - 8px);
        font-size: 2rem;
    }

    .loading-md .loading-wrapper {
        border-radius: 2px;
        max-width: 280px;
        max-height: 15%;
        color: rgba(0, 0, 0, 0.5);
        background: #fafafa;
        -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
        padding: 24px;
    }
}
