page-results {
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #fff;
        text-align: center;
    }

    .resultImg img {
        height: 20%;
        width: 20%;
        margin: auto;
        text-align: center;
        display: -webkit-box;
    }
    
    .resultImg{
        display:block; 
        justify-content:center;
        align-items:center; 
        align-content:center;flex-direction: column;
    }
}
