
<ion-header>
  <ion-navbar>
    <ion-title> Transaction Details </ion-title>
  </ion-navbar>
</ion-header>

<ion-content  padding>

  <div class="resultImg">
    <img [src]="resultImage"/>
  </div>
  <br>
  <div>
    <ion-list inset>
      <ion-item><b>Response Code</b> : {{responseCode}}</ion-item>
      <ion-item><b>Response Message</b> : {{responseMessage}}</ion-item>
      <ion-item><b>PAN</b> : {{pan}}</ion-item>
      <ion-item><b>STAN</b> : {{stan}}</ion-item>
      <ion-item><b>Card Holder</b> : {{cardHolder}}</ion-item>
      <ion-item><b>Expiry</b> : {{expiry}}</ion-item>
      <!-- <ion-item><b>Account Type</b> : {{accountType}}</ion-item> -->
      <ion-item><b>Tender Type</b> : {{tenderType}}</ion-item>
      <ion-item><b>Date</b> : <span id="date"></span> </ion-item>
    </ion-list>
  </div>
  <br>
  <button ion-button full color="wise" (click)="newTransaction()"> NEW TRANSACTION</button>
  <br>
</ion-content>