<ion-header no-border>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="../../assets/icon/icon.svg" alt="Smiley face" height="42" width="42">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="notify()">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar></ion-toolbar>
  <ion-toolbar></ion-toolbar> -->
</ion-header>


<ion-content padding class="mv-Top">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull Down."
      refreshingSpinner="circles"
      refreshingText="Loading...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- PATIENT DETAILS  -->
  <ion-card class="welcome-card">
    <ion-card-header class="head">
        <ion-row>
            <ion-col col-6 class="head_edit"><h2>PATIENT DETAILS</h2></ion-col>
            <ion-col col-6>
                <img src="../../assets/icon/user.svg" alt="hygieia" height="42" width="42">
            </ion-col>
        </ion-row>
    </ion-card-header>
    <ion-grid>
        <ion-row class="row_edit">
            <ion-col col-6 class="left"><span> Revenue Name  </span> </ion-col>
            <ion-col col-6 class="right"><span><b>{{ RevenueName  }}</b></span></ion-col>
        </ion-row>

        <ion-row class="row_edit">
            <ion-col col-6 class="left"><span> Invoice Id </span> </ion-col>
            <ion-col col-6 class="right"><span><b>{{ InvoiceId }}</b></span></ion-col>
          </ion-row>

          <ion-row class="row_edit">
              <ion-col col-6 class="left"><span> Invoice Number </span></ion-col>
              <ion-col col-6 class="right"><span><b>{{ InvoiceNumber }}</b></span></ion-col>
          </ion-row>
              
          <ion-row class="row_edit">
            <ion-col col-6 class="left"><span> Invoice Status </span> </ion-col>
            <ion-col col-6 class="right"><span>{{ InvoiceStatus }}</span></ion-col>
          </ion-row>
      
          <ion-row class="row_edit">
              <ion-col col-6 class="left"><span> Invoice Reference </span> </ion-col>
              <ion-col col-6 class="right"><span><b>{{ InvoiceReference  }}</b></span></ion-col>
          </ion-row>
   </ion-grid>
  </ion-card>

<!-- AMOUNT DETAILS  -->
<ion-card class="welcome-card">
  <ion-card-header class="head">
      <ion-row>
          <ion-col col-6 class="head_edit"><h2>AMOUNT DETAILS</h2></ion-col>
          <ion-col col-6>
              <img src="../../assets/icon/coins.svg" alt="hygieia" height="42" width="42">
          </ion-col>
      </ion-row>
  </ion-card-header>

  <ion-grid>
      
          <ion-row class="row_edit">
              <ion-col col-6 class="left"><span> Amount </span> </ion-col>
              <ion-col col-6 class="right"><span><b>{{ Amount }}</b></span></ion-col>
          </ion-row>

          <ion-row class="row_edit">
            <ion-col col-6 class="left"><span> Outstanding Amount </span> </ion-col>
            <ion-col col-6 class="right"><span><b>{{ OutstandingAmount }}</b></span></ion-col>
          </ion-row>

          <ion-row class="row_edit">
              <ion-col col-6 class="left"><span> Paid Amount </span> </ion-col>
              <ion-col col-6 class="right"><span><b>{{ PaidAmount }}</b></span></ion-col>
          </ion-row>

          <ion-row class="row_edit">
              <ion-col col-6 class="left"><span> Currency Code </span> </ion-col>
              <ion-col col-6 class="right"><span><b>{{ CurrencyCode }}</b></span></ion-col>
          </ion-row>

          <ion-row class="row_edit">
              <ion-col col-6 class="left"><span> Revenue Code </span> </ion-col>
              <ion-col col-6 class="right"><span><b>{{ RevenueCode  }}</b></span></ion-col>
          </ion-row>

          <ion-list *ngFor="let Add of AdditionalInformation">

            <ion-row class="row_edit">
                <ion-col col-6 class="left"> <span >Name</span> </ion-col>
                <ion-col col-6 class="right"><span >{{ Add.Name }}</span></ion-col>
            </ion-row>
            
            <ion-row class="row_edit">
              <ion-col col-6 class="left"><span> Value </span> </ion-col>
              <ion-col col-6 class="right"><span><b>{{ Add.Value }}</b></span></ion-col>
          </ion-row>
            
          </ion-list>
      </ion-grid>

    <button class="signin-btn" ion-button block color="blue" (click)="connectToPinpadAndDownloadKeys()
      ">
        <span>Make Payment  </span> 
    </button>
</ion-card>

<!-- INVOICE DETAILS -->
<ion-card class="welcome-card">
  <ion-card-header class="head">
      <ion-row>
          <ion-col col-6 class="head_edit"><h2>INVOICE DETAILS</h2></ion-col>
          <ion-col col-6>
              <img src="../../assets/icon/approve-invoice.svg" alt="hygieia" height="42" width="42">
          </ion-col>
      </ion-row>
  </ion-card-header>
    
  <ion-grid>
    
      <ion-list class="liEdit" *ngFor="let item of InvoiceDetails">
          <ion-row class="row_edit">
              <ion-col col-6 class="left"> <span >ID</span> </ion-col>
              <ion-col col-6 class="right"><span >{{ item.id }}</span></ion-col>
           </ion-row>

           <ion-row class="row_edit">
              <ion-col col-6 class="left"> <span >Invoice ID</span> </ion-col>
              <ion-col col-6 class="right"><span >{{ item.invoiceId }}</span></ion-col>
           </ion-row>

           <ion-row class="row_edit">
              <ion-col col-6 class="left"> <span >Item Id</span> </ion-col>
              <ion-col col-6 class="right"><span >{{ item.itemId }}</span></ion-col>
           </ion-row>

           <ion-row class="row_edit">
              <ion-col col-6 class="left"> <span >Item Description</span> </ion-col>
              <ion-col col-6 class="right"><span >{{ item.itemDescription }}</span></ion-col>
           </ion-row>

           <ion-row class="row_edit">
              <ion-col col-6 class="left"> <span >Entry Time</span> </ion-col>
              <ion-col col-6 class="right"><span >{{ item.entryTime }}</span></ion-col>
           </ion-row>

           <ion-row class="row_edit">
              <ion-col col-6 class="left"> <span >Amount</span> </ion-col>
              <ion-col col-6 class="right"><span >{{ item.amount }}</span></ion-col>
           </ion-row>
      </ion-list>

  </ion-grid>

</ion-card>

<!-- Institution Details -->
<ion-card class="welcome-card">
  <ion-card-header class="head">
      <ion-row>
          <ion-col col-6 class="head_edit"><h2>INSTITUTION DETAILS</h2> </ion-col>
          <ion-col col-6>
              <img src="../../assets/icon/hospital.svg" alt="hygieia" height="42" width="42">
          </ion-col>
      </ion-row>
  </ion-card-header>

  <ion-grid>
    <ion-row class="row_edit">
        <ion-col col-6 class="left"><span> Corporate Name  </span> </ion-col>
        <ion-col col-6 class="right"><span><b>{{ CorporateName }}</b></span></ion-col>
    </ion-row>

    <ion-row class="row_edit">
      <ion-col col-6 class="left"><span> Corporate Code </span> </ion-col>
      <ion-col col-6 class="right"><span><b>{{ CorporateCode }}</b></span></ion-col>
    </ion-row>    
  </ion-grid>
</ion-card>

</ion-content>
