page-payment {
    .toolbar-background-md {
        border-color: #2fa442;
        background: #2fa442;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #424242;
        text-align: center;
        text-align: -webkit-center;
    }
    ion-card img {
        display: block;
        width: 62%;
        height: 30px;
        text-align: right;
        margin-left: 75px;
    }
    .card-header-md {
        font-size: 1.6rem;
        color: #222;
        padding: 16px;
        border-bottom: 1.2px solid #2fa442;
    }
    .right {
        text-align: right;
        font-weight: 600;
    }
    .button-md {
        width: 80%;
        border-radius: 2px;
        overflow: hidden;
        height: 4.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background-color: #2fa442;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: auto;
        padding: 0 1.1em;
        margin-top: 20px;
        margin-bottom: 35px;
    }
    .button-inner {
        color: #fff;
    }

    h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
        margin-top: -0.3rem;
        text-align: start;
        padding-top: 7px;
        font-weight: 600;
    }

    .liEdit {
        border-bottom: 1px solid #423232;
        margin-bottom: 23px;
        padding-bottom: 13px;
    }
    .liEdit:last-child {
        border-bottom: none;
        margin-bottom: 0px;
    }

    .grid {
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 11px;
    }
    .row_edit {
        border-bottom: 1px solid #ccc;
        padding-bottom: 6px;
        padding-top: 6px;
    }
    .row_edit:last-child {
        border-bottom: none;
    }

    .head_edit h2 {
        margin-left: -14px;
    }
}
