<ion-header no-border>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="../../assets/icon/icon.svg" alt="Smiley face" height="42" width="42">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="notify()">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="payEdit">
        <img src="../../assets/icon/success.svg" alt="hygieia" height="" width="">
        <p >Payment Successful</p>
    </div>

    <button class="signin-btn" ion-button block color="blue" (click)="returnHome()">
        <span>Return Home </span> 
    </button>
</ion-content>
