
<ion-header>
  <ion-navbar>
      <ion-buttons left>
        <button ion-button navPop icon-only>
          <ion-icon ios="ios-arrow-back" md="nbsons-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Select PinPad</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #navbar padding>
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull Down."
      refreshingSpinner="circles"
      refreshingText="Loading...">
    </ion-refresher-content>
  </ion-refresher>

    <div>
        <ul>
          <li style="font-size:13px;" *ngFor="let device of deviceList" style="padding:10px">
            <a style="display:block; padding:6px 0;" (click)="bluetoothfunc(device.name, device.address)"> {{device.name}}
            </a>
          </li>
        </ul>
        <br>
    </div>
    
</ion-content>
