<ion-content padding class="bgImg">
    
    <div class="conEdit">
       <h2>Health Pay</h2>
       <p><b>Welcome,</b> J. Damian </p>
    </div>
 
     <ion-card>
         <ion-card-content>
           <span class="sp"><b>Enter your activation code below</b></span>
             <ion-list>                             
                 <ion-item>
                   <ion-icon ios="ios-lock" md="md-lock" item-left></ion-icon>
                   <ion-label floating> Activation Code </ion-label>
                   <ion-input type="text">
                      
                   </ion-input>
                 </ion-item>
               </ion-list>
 
         </ion-card-content>
 
         <button class="signin-btn" ion-button block color="blue" (click)="loginPg()">
             <span>Proceed </span> 
         </button>
 
       </ion-card>
 </ion-content>
 