
<ion-header>
  <ion-navbar>
    <ion-title>Select Account Type</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list radio-group>
     
      <ion-item>
        <ion-label>Savings</ion-label>
        <ion-radio slot="start" [(ngModel)]="accountType" value="savings" checked></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Current</ion-label>
        <ion-radio slot="start" [(ngModel)]="accountType" value="current"></ion-radio>
      </ion-item>
  
  </ion-list>

    <button class="signin-btn" ion-button block color="blue" (click)="connectToPinpadAndDownloadKeys()
    ">
    <span>Make Payment  </span>
    </button>
</ion-content>
