page-confirm {
    .toolbar-background-md {
        border-color: #2fa442;
        background: #2fa442;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #424242;
        text-align: center;
        text-align: -webkit-center;
    }
    ion-card img {
        display: block;
        width: 62%;
        height: 30px;
        text-align: right;
        margin-left: 76px;
    }
   
    .grid {
        width: 90%;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 11px;
    }
    .card-header-md {
        font-size: 1.6rem;
        color: #222;
        padding: 16px;
        border-bottom: 1.2px solid #2fa442;
    }
    .right {
        text-align: right;
        font-weight: 600;
    }
    .button-md {
        text-transform: capitalize;
    }
    .button-inner {
        color: #fff;
    }

    h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
        margin-top: -0.3rem;
        text-align: start;
        padding-top: 7px;
        font-weight: 600;
    }
    .row_edit {
        border-bottom: 1px solid #ccc;
        padding-bottom: 6px;
        padding-top: 6px;
    }
    .row_edit:last-child {
        border-bottom: none;
    }

    .head_edit h2 {
        margin-left: -14px;
    }
}
