
<ion-header no-border>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="../../assets/icon/icon.svg" alt="Smiley face" height="42" width="42">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="notify()">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar></ion-toolbar>
  <ion-toolbar></ion-toolbar> -->
</ion-header>

<ion-content #navbar padding >
    <!-- AMOUNT DETAILS  -->
    <ion-card class="welcome-card">
      <ion-card-header class="head">
          <ion-row>
              <ion-col col-6 class="head_edit"><h2>AMOUNT DETAILS</h2></ion-col>
              <ion-col col-6>
                  <img src="../../assets/icon/coins.svg" alt="hygieia" height="42" width="42">
              </ion-col>
          </ion-row>
      </ion-card-header>

      <ion-grid>         
          <ion-row class="row_edit">
              <ion-col col-6 class="left"><span> Amount </span> </ion-col>
              <ion-col col-6 class="right"><span><b>{{ Amount }}</b></span></ion-col>
          </ion-row>

          <ion-row class="row_edit">
            <ion-col col-6 class="left"><span> Outstanding Amount </span> </ion-col>
            <ion-col col-6 class="right"><span><b>{{ OutstandingAmount }}</b></span></ion-col>
          </ion-row>

          <ion-row class="row_edit">
              <ion-col col-6 class="left"><span> Paid Amount </span> </ion-col>
              <ion-col col-6 class="right"><span><b>{{ PaidAmount }}</b></span></ion-col>
          </ion-row>

          <ion-row class="row_edit">
              <ion-col col-6 class="left"><span> Currency Code </span> </ion-col>
              <ion-col col-6 class="right" ><span><b>{{ CurrencyCode }}</b></span></ion-col>
          </ion-row>

          <ion-row class="row_edit">
              <ion-col col-6 class="left"><span> Revenue Code </span> </ion-col>
              <ion-col col-6 class="right"><span><b>{{ RevenueCode  }}</b></span></ion-col>
          </ion-row> 
          
        </ion-grid>
    </ion-card>

    <ion-grid>
        <ion-row>
          <ion-col col-6>
              <button class="signin-btn " style="background-color: #2fa442" ion-button block color="blue" (click)="pay()">
                  <span>Confirm</span> 
              </button>
          </ion-col>

          <ion-col col-6>
              <button class="signin-btn" style="background-color:#e52a21" ion-button block color="danger" (click)="invoicePg()">
                  <span>Cancel</span> 
              </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    
</ion-content>
